.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    opacity: 0.85;
}

.editMode {
    opacity: 1;
    border: 2px solid var(--inverted-primary-color);
}

.loading,
.error {
    height: 300px;
}
