.app-dark-theme {
    --bg-color: #090940;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0449e0;

    // redesigned
    --dark-bg-redesinged: #090f11;
    --bg-redesinged: #0c1214;
    --light-bg-redesinged: #151c1f;
    --text-redesinged: #dbdbdb;
    --hint-redesinged: #555;
    --cancel-redesinged: #d95757;
    --save-redesinged: #6cd98b;
    --icon-redesinged: #74a2b2;
    --accent-redesinged: #5ed3f3;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #090965;

    // card
    --card-bg: #0d0d6b;

    // listBox
    --listbox-bg: #0d0d6b;
}
