.app-green-theme {
    --bg-color: #f4fbf5;
    --inverted-bg-color: #3eb14f;
    --primary-color: #5d9334;
    --secondary-color: #83d8b3;
    --inverted-primary-color: #f4fbf5;
    --inverted-secondary-color: #66d8e9;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listBox
    --listbox-bg: #d5d5d7;
}
