.content {
    position: absolute;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    background-color: var(--listbox-bg);
    z-index: 10000;
    box-shadow: 4px 4px 8px var(--listbox-bg);
    display: flex;
    flex-direction: column;
}

.item {
    background: none;
    border: none;
    outline: none;
    padding: 10px 25px;
    width: 100%;
    cursor: pointer;
}
