.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    opacity: 0.85;
}

.editMode {
    opacity: 1;
    border: 2px solid var(--inverted-primary-color);
}

.input {
    margin-top: 15px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
