.Dropdown {
    position: relative;
}

.trigger {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.content {
    position: absolute;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    background-color: var(--listbox-bg);
    z-index: 10000;
    box-shadow: 4px 4px 8px var(--listbox-bg);
    display: flex;
    flex-direction: column;
}

.contentTopLeft {
    bottom: 100%;
    right: 0;
}

.contentTopRight {
    bottom: 100%;
    left: 0;
}

.contentBottomLeft {
    top: 100%;
    right: 0;
}

.contentBottomRight {
    top: 100%;
    left: 0;
}

.item {
    background: none;
    border: none;
    outline: none;
    padding: 10px 25px;
    width: 100%;
    cursor: pointer;
}

.active {
    border-radius: 8px;
    background: var(--inverted-primary-color);
}
