.InputWrapper {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 48px;
    border: 2px solid var(--icon-redesinged);
    height: 32px;
    width: 100%;
}

.input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    color: var(--text-redesinged);

    &::placeholder {
        color: var(--hint-redesinged);
    }
}

.readOnly {
    opacity: 0.7;
}

.focused {
    border: 2px solid var(--accent-redesinged);

    svg {
        color: var(--accent-redesinged);
    }
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonRight {
    padding-right: 8px;
}
